spring:
  application:
    name: servicio-customer
    
  datasource:
    url: jdbc:mysql://gondola.proxy.rlwy.net:54615/railway?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: IiDsIxwAVFEHPsWrejfaiuQmVCIofCSL
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 30000
    
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    sql:
      init:
        mode: always        # ⬅ Ejecuta data.sql siempre
        encoding: UTF-8     # ⬅ Evita errores de caracteres
      
server:
  port: ${PORT:8084}
  servlet:
    context-path: /

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server.railway.internal:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: servicio-customer.railway.internal
    instance-id: ${spring.application.name}:${random.value}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

